<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity
    Name="f6179651-d72d-41fa-8286-059b0a403b3a"
    Publisher="CN=chpurrer"
    Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="f6179651-d72d-41fa-8286-059b0a403b3a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>UWPApp</DisplayName>
    <PublisherDisplayName>chpurrer</PublisherDisplayName>
    <Logo>Assets\dummy.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="dummy.exe" EntryPoint="UWPApp.App">
      <uap:VisualElements DisplayName="UWPApp" Description="Project for a single page C++/WinRT Universal Windows Platform (UWP) app with no predefined layout"
        Square150x150Logo="Assets\dummy.png" Square44x44Logo="Assets\dummy.png" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\dummy.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\dummy.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>